body {
  font-family: sans-serif;
  background: #f4f4f4;
  margin: 0;
}

header {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

a {
  color: #00ffcc;
  text-decoration: none;
}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.tag {
  display: inline-block;
  margin-top: 8px;
  padding: 4px 8px;
  background: #eee;
  bor...